@{
    ViewData["Title"] = "Success";
}

<h1>You create a new car successfully!</h1>

<div>
    <a asp-action="Create">Create new car</a>
</div>

<div>
    <a asp-action="Index">List all car</a>
</div>


