@{
    ViewData["Title"] = "Success";
}

<h1>You successfully added a car in showroom!</h1>

<div>
    <a asp-action="Create">Create new car</a>
</div>

<div>
    <a asp-action="Index">List all cars</a>
</div>
