@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="https://favim.com/pd/s3/orig/43/cute-dog-grass-sweet-Favim.com-365402.jpg" width="600px" />
</div>
